{% extends "base.html" %}
{% load static %}

{% block title %}Enrollment Complete{% endblock %}

{% block content %}
    <head>
        <style>
            #map {
                height: 400px;
                width: 550px;
            }   
        </style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    </head>
    <body>
        <div class="mt-4 ml-5 pl-5">
            <h1>Enrollment complete!</h1>
            <p>See you at {{ event.name }}!
            <p>Your confirmation number is: {{eventconfirmation}}
    
            <div class="container">
                <div class="col-md-auto">
                    <div class="container" id="map"></div>
                </div>
            </div>
    
            <script>
                var map = L.map('map').setView([{{event.latitude}}, {{event.longitude}}], 5);
    
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);
    
                var marker = L.marker([{{event.latitude}}, {{event.longitude}}]).addTo(map);
            </script>
        </div>
    </body>
{% endblock content %}